DADS4002 Final Project</br>
Group:Coding</br>
Cafe_database</br>
Member</br>
Latthawan Chantharasukha 6420422015</br>
Witsarut Wongsim 6420422017 </br>
Pajaya Kanjanakaew 6420422028</br>

# Install Libraly

In [131]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\witsaruw\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [241]:
#import library
import pyodbc

# Function

In [1]:
#import library
import pyodbc
#Connection string
cnxn = pyodbc.connect('driver=MySQL ODBC 8.0 Unicode Driver;server=127.0.0.1;database=cafe;uid=root;pwd=Acpz5999')
#Write function
def view_topsale_bystore():
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.Store_id,store.Store_name,sum(Amount) as Rev FROM order_record  \
    INNER JOIN store ON store.Store_ID=order_record.Store_id \
    GROUP BY order_record.Store_id ORDER BY 3 DESC")
    row = cursor.fetchone()
    print ("Revenue by Store")
    while row:        
        print (row) 
        row = cursor.fetchone()
#View
def get_viewlastorder():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  order_record ORDER BY order_no desc limit 1") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
        
def get_viewmenu():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  menu") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
        
def get_viewcustomer():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  customer") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
        
def get_viewstore():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  store") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
        
def get_vieworder():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  order_record") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
def view_customer_menu(customer_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.menu_id , menu.menu_name, count(order_record.menu_id) as countmenu \
FROM order_record  \
JOIN menu ON menu.menu_ID=order_record.menu_id \
WHERE customer_id=? \
GROUP BY order_record.menu_id ORDER BY 3 DESC ",(customer_id))
    row = cursor.fetchone()
    print ("customer menu")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [2]:
def get_store():
    ID=False
    store_id=input("'Store_id 4 digit Cxxx:'")
    while ID==False:
        cursor = cnxn.cursor()
        cursor.execute("SELECT * FROM store WHERE store_id=?",(store_id))
        row = cursor.fetchone()
        if row!=None:
            return (store_id)
        else:
            print("store_ID not in list")
            store_id=input("Plaese Enter Store ID agian:")
            
def get_storename(store_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT store_name FROM store WHERE store_id=?",(store_id))
    row = cursor.fetchone()
    while row:
        name=row[0]
        row = cursor.fetchone()
        print('name:',name)
        return(name)
    
def get_store_province(store_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT store_province FROM store WHERE store_id=?",(store_id))
    row = cursor.fetchone()
    while row:
        name=row[0]
        row = cursor.fetchone()
        print('province:',name)
        return(name)

In [3]:
def get_menu():
    ID=False
    menu_id=input("Menu ID 4number xxxx:")
    while ID==False:
        
        cursor = cnxn.cursor()
        cursor.execute("SELECT * FROM menu WHERE menu_id=?",(menu_id))
        row = cursor.fetchone()
        if row!=None:
            ID=True
            return (menu_id)
        else:
            print("Menu ID not in list")
            menu_id=input("Plaese Enter Menu ID agian:")
    
def get_menuprice(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT menu_SellingPrice FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone()
    while row:
        price=row[0]
        row = cursor.fetchone()
        print('price:',price)
        return(price)       
def get_menuname(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT menu_name FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone()
    while row:
        name=row[0]
        row = cursor.fetchone()
        print('name:',name)
        return(name)
def get_cost(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT menu_cost FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone()
    while row:
        cost=row[0]
        row = cursor.fetchone()
        print('cost:',cost)
        return(cost)  
def get_member():
    CUS_ID=False
    customer_id=input("customer_id 4number xxxx:")
    if customer_id=='':
        customer_id='0000'
        return (customer_id)
    else:
        while CUS_ID==False:
            cursor = cnxn.cursor()
            cursor.execute("SELECT * FROM customer WHERE customer_id=?",(customer_id))
            row = cursor.fetchone()
            if row!=None:
                return (customer_id)
            else:
                print("customer id ID not in list")
                customer_id=input("Plaese Enter customer_id agian:")  
def get_cusfirstname(customer_id):
    
    cursor = cnxn.cursor()
    cursor.execute("SELECT customer_firstname FROM customer WHERE customer_id=?",(customer_id))
    row = cursor.fetchone()
    if row!=None:
        print(row[0])
        return (row[0])
          
def get_cuslastname(customer_id):
    
    cursor = cnxn.cursor()
    cursor.execute("SELECT customer_lastname FROM customer WHERE customer_id=?",(customer_id))
    row = cursor.fetchone()
    if row!=None:
        print(row[0])
        return (row[0])  
    
def get_customerage(customer_id):
    
    cursor = cnxn.cursor()
    cursor.execute("SELECT customer_age FROM customer WHERE customer_id=?",(customer_id))
    row = cursor.fetchone()
    if row!=None:
        print(row[0])
        return (row[0]) 
       
def get_discount(customer_id):
    if customer_id!='0000':
        discount=(quantity*price)*0.1
        order_point=1
        print('discount',discount)
        return (discount,order_point)
    else:
        discount=0
        order_point=0
        print('no discount',discount)
        return(discount,order_point)
def get_orderno():
        
    cursor = cnxn.cursor()
    cursor.execute("SELECT Order_NO FROM menu ")
    row = cursor.fetchone()
    while row:
        price=row[0]
        row = cursor.fetchone()
        print('price:',price)
        return(price) 
def get_profit():
    amount=(price*quantity-discount) 
    profit= amount-(cost*quantity)
    return (profit,amount)
def print_slip():
    print('********************************')
    print('customer ID',customer_id)
    print('menu:',name)
    print('Quantity',quantity)
    print('Price',price)
    print('Total before discount',price*quantity)
    print('Discount',discount)
    print('Amount',amount)
    print('Point',order_point)
    get_customerpoint(customer_id)
    print('********************************')

def get_customerpoint(customer_id):
    cursor = cnxn.cursor()
    cursor.execute(" SELECT customer_id , SUM(order_point) From order_record WHERE customer_id=? ",(customer_id))
    row = cursor.fetchone()
    while row:        
        a,b=row
        row = cursor.fetchone()
        return (print("Customer point:",b))

def get_royalty():
    cursor = cnxn.cursor()
    cursor.execute(" SELECT customer_id ,SUM(order_point) as accpoint \
                   From order_record \
                   GROUP By customer_id \
                   order by accpoint desc limit 10 ")
    row = cursor.fetchone()
    cus=[]
    while row:
        print(row)
        row = cursor.fetchone()


def get_royalty_list():
    cursor = cnxn.cursor()
    cursor.execute(" SELECT customer_id ,SUM(order_point) as accpoint \
                   From order_record \
                   GROUP By customer_id \
                   order by accpoint desc limit 11 ")
    row = cursor.fetchone()
    cus=[]
    while row:
        row = cursor.fetchone()
        cus.append(row)
    return(cus)
  

def royalty_list():
    id_list=get_royalty_list()
    royalty_list=[]
    i=0
    for i in range (len(id_list)-1):
        royalty_list.append(id_list[i][0])
    return (royalty_list)
def fav_rayalty_menu(): 
    id_list=get_royalty_list()
    i=0
    for i in range (len(id_list)-1):
        print(id_list[i][0],"\n",view_customer_menu(id_list[i][0]))

# View Table

order_record

In [242]:
get_vieworder()

(1, datetime.datetime(2022, 5, 21, 16, 45, 38), 1, '0002', '0003', 5.5, 24.5, 49.5, 1, 'C023')
(2, datetime.datetime(2022, 5, 21, 16, 46, 9), 1, '0001', '0003', 3.5, 11.5, 31.5, 1, 'C022')
(3, datetime.datetime(2022, 5, 21, 16, 46, 24), 1, '0004', '0003', 4.5, 15.5, 40.5, 1, 'C023')
(4, datetime.datetime(2022, 5, 21, 16, 46, 52), 1, '0001', '0001', 3.5, 11.5, 31.5, 1, 'C001')
(5, datetime.datetime(2022, 5, 21, 16, 47, 11), 1, '0004', '0000', 0.0, 20.0, 45.0, 0, 'C023')
(6, datetime.datetime(2022, 5, 21, 16, 48, 27), 1, '0003', '0005', 6.0, 24.0, 54.0, 1, 'C020')
(7, datetime.datetime(2022, 5, 21, 16, 54, 12), 2, '0002', '0001', 11.0, 49.0, 99.0, 1, 'C022')
(8, datetime.datetime(2022, 5, 21, 17, 18, 5), 1, '0001', '0006', 3.5, 11.5, 31.5, 1, 'C002')
(9, datetime.datetime(2022, 5, 21, 17, 21, 5), 1, '0010', '0006', 5.0, 15.0, 45.0, 1, 'C002')
(10, datetime.datetime(2022, 5, 21, 17, 22), 1, '0008', '0007', 5.5, 14.5, 49.5, 1, 'C002')
(11, datetime.datetime(2022, 5, 21, 17, 22, 22), 1, '0007', '0007', 5.0, 15.0, 45.0, 1, 'C002')
(12, datetime.datetime(2022, 5, 21, 17, 22, 56), 1, '0002', '0007', 5.5, 24.5, 49.5, 1, 'C002')
(13, datetime.datetime(2022, 5, 21, 17, 23, 15), 1, '0036', '0008', 5.0, 15.0, 45.0, 1, 'C003')
(14, datetime.datetime(2022, 5, 21, 17, 23, 42), 1, '0044', '0008', 5.0, 20.0, 45.0, 1, 'C003')
(15, datetime.datetime(2022, 5, 21, 17, 24, 7), 1, '0045', '0009', 4.5, 20.5, 40.5, 1, 'C003')
(16, datetime.datetime(2022, 5, 21, 17, 24, 30), 1, '0049', '0009', 5.0, 20.0, 45.0, 1, 'C003')
(17, datetime.datetime(2022, 5, 21, 17, 27, 7), 1, '0051', '0011', 10.0, 30.0, 90.0, 1, 'C004')
(18, datetime.datetime(2022, 5, 21, 17, 27, 35), 1, '0052', '0012', 15.0, 45.0, 135.0, 1, 'C004')
(19, datetime.datetime(2022, 5, 21, 17, 28, 6), 1, '0053', '0016', 15.5, 59.5, 139.5, 1, 'C004')
(20, datetime.datetime(2022, 5, 21, 17, 28, 39), 1, '0054', '0018', 12.0, 28.0, 108.0, 1, 'C005')
(21, datetime.datetime(2022, 5, 21, 17, 29, 1), 1, '0056', '0019', 12.0, 8.0, 108.0, 1, 'C006')
(22, datetime.datetime(2022, 5, 21, 17, 29, 37), 1, '0055', '0020', 15.0, 35.0, 135.0, 1, 'C004')
(23, datetime.datetime(2022, 5, 21, 17, 30, 6), 1, '0057', '0022', 15.0, 15.0, 135.0, 1, 'C005')
(24, datetime.datetime(2022, 5, 21, 17, 30, 34), 1, '0058', '0024', 12.0, 28.0, 108.0, 1, 'C005')
(25, datetime.datetime(2022, 5, 21, 17, 30, 54), 1, '0059', '0026', 15.0, 35.0, 135.0, 1, 'C006')
(26, datetime.datetime(2022, 5, 21, 17, 31, 18), 1, '0061', '0029', 2.5, 2.5, 22.5, 1, 'C004')
(27, datetime.datetime(2022, 5, 21, 17, 31, 36), 1, '0062', '0020', 5.0, 15.0, 45.0, 1, 'C005')
(28, datetime.datetime(2022, 5, 28, 20, 48, 58), 2, '0001', '0001', 7.0, 23.0, 63.0, 1, 'C001')
(29, datetime.datetime(2022, 5, 28, 20, 51, 47), 2, '0001', '0001', 7.0, 23.0, 63.0, 1, 'C001')
(30, datetime.datetime(2022, 5, 28, 20, 55, 13), 2, '0001', '0002', 7.0, 23.0, 63.0, 1, 'C002')
(31, datetime.datetime(2022, 5, 28, 20, 56, 53), 1, '0004', '0001', 4.5, 15.5, 40.5, 1, 'C002')
(32, datetime.datetime(2022, 5, 28, 21, 2, 59), 2, '0001', '0005', 7.0, 23.0, 63.0, 1, 'C001')
(33, datetime.datetime(2022, 5, 28, 21, 5, 26), 2, '0004', '0004', 9.0, 31.0, 81.0, 1, 'C001')
(34, datetime.datetime(2022, 5, 28, 21, 12, 22), 4, '0004', '0004', 18.0, 62.0, 162.0, 1, 'C004')
(35, datetime.datetime(2022, 5, 28, 21, 13, 4), 3, '0003', '0004', 18.0, 72.0, 162.0, 1, 'C004')

menu

In [243]:
get_viewmenu()

('0001', 'Espresso', 35, 20, 'Hot', 'Coffee')
('0002', 'Espresso', 55, 29, 'Cold', 'Coffee')
('0003', 'Espresso', 60, 30, 'Frappe', 'Coffee')
('0004', 'Espresso Con Panna', 45, 25, 'Hot', 'Coffee')
('0005', 'Espresso Con Panna', 65, 30, 'Cold', 'Coffee')
('0006', 'Espresso Con Panna', 70, 35, 'Frappe', 'Coffee')
('0007', 'Americano', 50, 30, 'Hot', 'Coffee')
('0008', 'Americano', 55, 35, 'Cold', 'Coffee')
('0009', 'Americano', 60, 40, 'Frappe', 'Coffee')
('0010', 'Long Black', 50, 30, 'Hot', 'Coffee')
('0011', 'Long Black', 55, 35, 'Cold', 'Coffee')
('0012', 'Long Black', 60, 40, 'Frappe', 'Coffee')
('0013', 'Latte', 50, 30, 'Hot', 'Coffee')
('0014', 'Latte', 65, 35, 'Cold', 'Coffee')
('0015', 'Latte', 70, 40, 'Frappe', 'Coffee')
('0016', 'Piccolo', 50, 20, 'Hot', 'Coffee')
('0017', 'Piccolo', 55, 25, 'Cold', 'Coffee')
('0018', 'Piccolo', 60, 30, 'Frappe', 'Coffee')
('0019', 'Cappuccino', 45, 25, 'Hot', 'Coffee')
('0020', 'Cappuccino', 60, 30, 'Cold', 'Coffee')
('0021', 'Cappuccino', 65, 35, 'Frappe', 'Coffee')
('0022', 'Mocha', 50, 25, 'Hot', 'Coffee')
('0023', 'Mocha', 60, 30, 'Cold', 'Coffee')
('0024', 'Mocha', 70, 35, 'Frappe', 'Coffee')
('0025', 'White Mocha', 55, 30, 'Hot', 'Coffee')
('0026', 'White Mocha', 65, 35, 'Cold', 'Coffee')
('0027', 'White Mocha', 75, 40, 'Frappe', 'Coffee')
('0028', 'Macchiato', 50, 25, 'Hot', 'Coffee')
('0029', 'Macchiato', 60, 30, 'Cold', 'Coffee')
('0030', 'Macchiato', 70, 35, 'Frappe', 'Coffee')
('0031', 'Caramel Macchiato', 55, 30, 'Hot', 'Coffee')
('0032', 'Caramel Macchiato', 65, 35, 'Cold', 'Coffee')
('0033', 'Caramel Macchiato', 75, 40, 'Frappe', 'Coffee')
('0034', 'Italian soda', 50, 20, 'Cold', 'Coffee')
('0035', 'Chocolate', 45, 25, 'Hot', 'Coffee')
('0036', 'Chocolate', 50, 30, 'Cold', 'Coffee')
('0037', 'Chocolate', 55, 35, 'Frappe', 'Coffee')
('0038', 'Dark Chocolate', 50, 30, 'Hot', 'Milk-Chocolate')
('0039', 'Dark Chocolate', 55, 35, 'Cold', 'Milk-Chocolate')
('0040', 'Dark Chocolate', 60, 40, 'Frappe', 'Milk-Chocolate')
('0042', 'Green Tea', 40, 15, 'Hot', 'Tea')
('0043', 'Green Tea', 45, 20, 'Cold', 'Tea')
('0044', 'Green Tea', 50, 25, 'Frappe', 'Tea')
('0045', 'Milk Tea', 45, 20, 'Hot', 'Tea')
('0046', 'Milk Tea', 50, 25, 'Cold', 'Tea')
('0047', 'Milk Tea', 55, 30, 'Frappe', 'Tea')
('0048', 'Thai Tea', 45, 20, 'Hot', 'Tea')
('0049', 'Thai Tea', 50, 25, 'Cold', 'Tea')
('0050', 'Thai Tea', 55, 30, 'Frappe', 'Tea')
('0051', 'Mango Sticky Rice', 100, 60, 'Dessert', 'Dessert')
('0052', 'Strawberry Pancake', 150, 90, 'Dessert', 'Dessert')
('0053', 'Choc Banana Pancake', 155, 80, 'Dessert', 'Dessert')
('0054', 'Macaron', 120, 80, 'Dessert', 'Dessert')
('0055', 'Pudding', 150, 100, 'Dessert', 'Dessert')
('0056', 'Butter Cake', 120, 100, 'Dessert', 'Dessert')
('0057', 'Whole Wheat Bread', 150, 120, 'Dessert', 'Dessert')
('0058', 'strawberry cheese pie', 120, 80, 'Dessert', 'Dessert')
('0059', 'Blueberry Cheese Pie', 150, 100, 'Dessert', 'Dessert')
('0060', 'Honey Toast', 150, 80, 'Dessert', 'Dessert')
('0061', 'Toast', 25, 20, 'Dessert', 'Dessert')
('0062', 'Waffle', 50, 30, 'Dessert', 'Dessert')
('0063', 'Cheese cake', 125, 80, 'Dessert', 'Dessert')
('0064', 'Custard Cake', 60, 40, 'Dessert', 'Dessert')
('0065', 'Cookie', 150, 90, 'Dessert', 'Dessert')
('0066', 'Brownie', 80, 50, 'Dessert', 'Dessert')
('0067', 'Pancake', 40, 20, 'Dessert', 'Dessert')
('0068', 'Banana Cake', 40, 20, 'Dessert', 'Dessert')
('0069', 'Muffin', 90, 30, 'Dessert', 'Dessert')
('0070', 'Roll Cake', 50, 30, 'Dessert', 'Dessert')
('0071', 'Basque Cheesecake', 250, 100, 'Dessert', 'Dessert')
('0072', 'Pie', 50, 30, 'Dessert', 'Dessert')
('0073', 'Mango', 80, 60, 'Frappe', 'Smoothies')

In [244]:
get_viewcustomer()

('0000', 'No member', 'No member', 0, 'no')
('0001', 'จารุวรรณ', 'เหลืองสีนวล', 21, 'หญิง')
('0002', 'ศิรินทิพย์', 'ชัยชนะ', 14, 'ชาย')
('0003', 'ณัฐมน', 'สุขเกษม', 37, 'หญิง')
('0004', 'เจษฎา', 'กอวังตะโก', 31, 'หญิง')
('0005', 'จุฑาทิพย์', 'ชาญศิริ', 34, 'หญิง')
('0006', 'สุพรรษา', 'ประเสริฐสม', 30, 'หญิง')
('0007', 'นูรีซัน', 'สุขสันต์', 29, 'หญิง')
('0008', 'วลัยลักษณ์', 'สัตถาผล', 28, 'หญิง')
('0009', 'เบญจมาภรณ์', 'หมูนสี', 27, 'หญิง')
('0010', 'ฉันชนก', 'เชิญขวัญ', 26, 'หญิง')
('0011', 'ธันยพร', 'หะพันธ์', 25, 'หญิง')
('0012', 'อารีรัตน์', 'ศิริพันธ์', 24, 'หญิง')
('0013', 'สุนิสา', 'ศุขห่วง', 23, 'หญิง')
('0014', 'เกวลิน', 'จูเปาะ', 22, 'หญิง')
('0015', 'กัญญารัตน์', 'ประสพสุข', 21, 'หญิง')
('0016', 'จิรัชญา', 'เสนานุช', 20, 'หญิง')
('0017', 'พรรธิดา', 'สืบจันทร์', 19, 'หญิง')
('0018', 'จุฑาทิพย์', 'วัณเพชร', 17, 'หญิง')
('0019', 'อุสรา', 'เจ็กแตงพะเนา', 37, 'หญิง')
('0020', 'กัลยา', 'พานทอง', 31, 'หญิง')
('0021', 'รจนา', 'ขวัญเมือง', 34, 'ชาย')
('0022', 'กัณฑิมา', 'รามมีชัย', 30, 'ชาย')
('0023', 'กาญจนา', 'นาสร้อย', 29, 'ชาย')
('0024', 'พอฤทัย', 'ลาภผล', 28, 'ชาย')
('0025', 'วราภรณ์', 'แซ่ลิ่ม', 27, 'ชาย')
('0026', 'ธิดารัตน์', 'วงศ์เสน', 26, 'หญิง')
('0027', 'กรรณิการ์', 'คงอาษา', 25, 'ชาย')
('0028', 'แอนนา', 'สมบูรณ์สิงห์', 24, 'ชาย')
('0029', 'วริศรา', 'วงเวียน', 23, 'ชาย')
('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย')
('0031', 'ปภัต', 'สำรวม', 40, 'ชาย')
('0032', 'พิม', 'แพรว', 12, 'หญิง')
('0033', 'มานี', 'มานา', 14, 'ชาย')

In [245]:
get_viewstore()

('C001', "Coffee's เซ็นทรัลพระราม3", 'กรุงเทพมหานคร')
('C002', "Coffee's เซ็นทรัลพระราม9", 'กรุงเทพมหานคร')
('C003', "Coffee's Centralนครราชสีมา", 'นครราชสีมา')
('C004', "Coffee's เซ็นทรัลศรีราชา", 'ชลบุรี')
('C005', "Coffee's เซ็นทรัลอยุธยา", 'พระนครศรีอยุธยา')
('C006', "Coffee's Centralมหาชัย", 'สมุทรสาคร')
('C007', "Coffee's เซ็นทรัลเชียงใหม่", 'เชียงใหม่')
('C008', "Coffee's UnitedCenter(สีลม)", 'กรุงเทพมหานคร')
('C009', "Coffee's สยามเซ็นเตอร์", 'กรุงเทพมหานคร')
('C010', "Coffee's เซ็นจูรี่อนุสาวรีย์", 'กรุงเทพมหานคร')
('C011', "Coffee's CentralWestgateบางใหญ่", 'กรุงเทพมหานคร')
('C012', "Coffee's เซ็นทรัลเวิลด์", 'กรุงเทพมหานคร')
('C013', "Coffee's CenterOneอนุสาวรีย์ชัยสมรภูมิ", 'กรุงเทพมหานคร')
('C014', "Coffee's Centralสุราษฎร์ธานี", 'สุราษฎร์ธานี')
('C015', "Coffee's Centralนครศรีธรรมราช", 'นครศรีธรรมราช')
('C016', "Coffee's เซ็นทรัลลาดพร้าวชั้นG", 'กรุงเทพมหานคร')
('C017', "Coffee's บิ๊กซีศรีนครินทร์", 'สมุทรปราการ')
('C018', "Coffee's บิ๊กซีพัทยาใต้", 'ชลบุรี')
('C019', "Coffee's บิ๊กซีอยุธยา", 'พระนครศรีอยุธยา')
('C020', "Coffee's บิ๊กซีสุขาภิบาล3", 'กรุงเทพมหานคร')
('C021', "Coffee's บิ๊กซีพระราม4", 'กรุงเทพมหานคร')
('C022', "Coffee's บิ๊กซีราชดำริ", 'กรุงเทพมหานคร')
('C023', "Coffee's บิ๊กซีนครปฐม", 'นครปฐม')
('C024', "Coffe's บิ๊กซีมหาชัย", 'สมุทรสาคร')
('C025', "Coffee's บิ๊กซีสุขาภิบาล5", 'กรุงเทพมหานคร')
('C026', "Coffee's บิ๊กซีเชียงราย2", 'เชียงราย')
('C027', "Coffee's บิ๊กซีบางพลี", 'สมุทรปราการ')
('C028', "Coffee's บิ๊กซีเพชรเกษมextra", 'กรุงเทพมหานคร')
('C029', "Coffee's ทาวน์เซ็นเตอร์บิ๊กซีหัวหมาก", 'กรุงเทพมหานคร')
('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')
('C031', "Coffee's บิ๊กซีบางซื่อ", 'กรุงเทพมหานคร')

In [16]:
def insert_order(datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id):
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO order_record \
    (Datetime,Quantity, Menu_id, Customer_id,Discount,Profit,Amount,Order_point,Store_id)\
    VALUES (?,?,?,?,?,?,?,?,?)",(datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id))
    cnxn.commit()
def get_datetime():
    from datetime import datetime
    now = datetime.now()
    current_time = now.strftime("%Y-%m-%d %H:%M:%S") 
    print(current_time)
    return (current_time)

#  Add order

In [246]:
x='yes'
while x.lower()=='yes':
    from datetime import datetime
    def get_datetime():
        now = datetime.now()
        current_time = now.strftime("%Y-%m-%d %H:%M:%S") 
        print(current_time)
        return (current_time)
    datetime=get_datetime()
    menu_id=get_menu()
    quantity=int(input('Quantity:'))
    price=get_menuprice(menu_id)
    name=get_menuname(menu_id)
    cost=get_cost(menu_id) 
    customer_id=get_member()
    discount,order_point=get_discount(customer_id)
    profit,amount=get_profit()
    store_id=get_store()
    insert_order(datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id)
    print_slip()
    get_viewlastorder()
    x=input("more order? yes or no")
    while x!='yes' and x!='no':
        x=input("more order? yes or no")

2022-05-28 23:08:52
Menu ID 4number xxxx:0003
Quantity:2
price: 60
name: Espresso
cost: 30
customer_id 4number xxxx:0002
discount 12.0
'Store_id 4 digit Cxxx:'C002
********************************
customer ID 0002
menu: Espresso
Quantity 2
Price 60
Total before discount 120
Discount 12.0
Amount 108.0
Point 1
Customer point: 2
********************************
(36, datetime.datetime(2022, 5, 28, 23, 8, 52), 2, '0003', '0002', 12.0, 48.0, 108.0, 1, 'C002')
more order? yes or noyes
2022-05-28 23:10:27
Menu ID 4number xxxx:0004
Quantity:1
price: 45
name: Espresso Con Panna
cost: 25
customer_id 4number xxxx:0000
no discount 0
'Store_id 4 digit Cxxx:'C002
********************************
customer ID 0000
menu: Espresso Con Panna
Quantity 1
Price 45
Total before discount 45
Discount 0
Amount 45
Point 0
Customer point: 0
********************************
(37, datetime.datetime(2022, 5, 28, 23, 10, 27), 1, '0004', '0000', 0.0, 20.0, 45.0, 0, 'C002')
more order? yes or nono

# Add menu

In [29]:
def add_menu():
    cursor = cnxn.cursor()
    cursor.execute("SELECT max(menu_id) FROM menu")
    row = cursor.fetchone()
    print('Last id:',row[0]) 
    menu_id=input('Menu_id 4 digit:')
    menu_name=input('Menu_name:')
    menu_sellingPrice=int(input('Menu_SellingPrice int:'))
    menu_cost=int(input('Menu_cost int:'))
    menu_type=input('Menu_Type Drink: Hot/Cold/Frappe or Dessert:')
    menu_categories=input('Coffee/Milk-Chocolate/Smoothies/Tea/Dessert')
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO menu\
    (Menu_id,Menu_name,Menu_SellingPrice,Menu_cost,Menu_Type,Menu_Categories)\
    VALUES (?,?,?,?,?,?)",(menu_id,menu_name,menu_sellingPrice,menu_cost,menu_type,menu_categories))
    print(f'Add new menu {menu_id} or {menu_name} is successful')
    cnxn.commit()

In [247]:
add_menu()

Last id: 0073
Menu_id 4 digit:0074
Menu_name:wine
Menu_SellingPrice int:70
Menu_cost int:50
Menu_Type Drink: Hot/Cold/Frappe or Dessert:Hot
Coffee/Milk-Chocolate/Smoothies/Tea/DessertTea
Add menu 0074 or wine is successful

In [248]:
def get_tailmenu():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM menu order by menu_id desc limit 5  ")  
    row = cursor.fetchone()
    while row:
        print(row)
        row = cursor.fetchone()

In [249]:
get_tailmenu()

('0074', 'wine', 70, 50, 'Hot', 'Tea')
('0073', 'Mango', 80, 60, 'Frappe', 'Smoothies')
('0072', 'Pie', 50, 30, 'Dessert', 'Dessert')
('0071', 'Basque Cheesecake', 250, 100, 'Dessert', 'Dessert')
('0070', 'Roll Cake', 50, 30, 'Dessert', 'Dessert')

# Add Store

In [70]:
def add_store():
    cursor = cnxn.cursor()
    cursor.execute("SELECT max(store_id) FROM  store")
    row = cursor.fetchone()
    print('Last store id:',row[0]) 
    store_id=input('store_id 4 digit Cxxx:')
    store_name=input('store_name:')
    Store_province=input('Store_province:')
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO store\
    (store_id,store_name,Store_province)\
    VALUES (?,?,?)",(store_id,store_name,Store_province))
    print(f'Add new store {store_id} or {store_name} is successful')
    cnxn.commit()

In [71]:
add_store() #('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')

Last store id: C030
store_id 4 digit Cxxx:C031
store_name:Coffee's บิ๊กซีบางซื่อ
Store_province:กรุงเทพมหานคร
Add store C031 or Coffee's บิ๊กซีบางซื่อ is successful

In [75]:
def get_tailstore():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM store order by store_id desc limit 5  ")  
    row = cursor.fetchone()
    while row:
        print(row)
        row = cursor.fetchone()

In [76]:
get_tailstore()

('C031', "Coffee's บิ๊กซีบางซื่อ", 'กรุงเทพมหานคร')
('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')
('C029', "Coffee's ทาวน์เซ็นเตอร์บิ๊กซีหัวหมาก", 'กรุงเทพมหานคร')
('C028', "Coffee's บิ๊กซีเพชรเกษมextra", 'กรุงเทพมหานคร')
('C027', "Coffee's บิ๊กซีบางพลี", 'สมุทรปราการ')

# Add customer

In [229]:
def add_customer():
    cursor = cnxn.cursor()
    cursor.execute("SELECT max(customer_id) FROM customer")
    row = cursor.fetchone()
    print('Last customer id:',row[0]) 
    customer_id=input('customer_id 4 digit:')
    customer_firstname=input('Customer_firstname:')
    customer_lastname=input('Customer_lastname:')
    customer_age=int(input('Customer_age:'))
    customer_gender=input('Customer_gender:')
                      
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO customer\
    (customer_id,Customer_firstname,Customer_lastname,Customer_age,Customer_gender)\
    VALUES (?,?,?,?,? )",(customer_id,customer_firstname,customer_lastname,customer_age,customer_gender))
    print(f'Add new customer {customer_id} or {customer_firstname} is successful')
    cnxn.commit()

In [230]:
add_customer() #('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย', 2005)

Last customer id: 0032
customer_id 4 digit:0033
Customer_firstname:มานี
Customer_lastname:มานา
Customer_age:14
Customer_gender:ชาย
Add new customer 0033 or มานี is successful

In [231]:
def get_tailcustomer():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM customer order by customer_id desc limit 5  ")  
    row = cursor.fetchone()
    while row:
        print(row)
        row = cursor.fetchone()

In [232]:
get_tailcustomer()

('0033', 'มานี', 'มานา', 14, 'ชาย')
('0032', 'พิม', 'แพรว', 12, 'หญิง')
('0031', 'ปภัต', 'สำรวม', 40, 'ชาย')
('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย')
('0029', 'วริศรา', 'วงเวียน', 23, 'ชาย')

# Update menu

Menu Price

In [251]:
def update_menuprice():
    menu_id=get_menu()
    menu_oldsellingPrice=get_menuprice(menu_id)
    menu_sellingPrice=int(input('Menu_SellingPrice int:'))
    
    
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET Menu_SellingPrice =? \
                WHERE Menu_SellingPrice =? \
                AND Menu_id =?;"\
             ,(menu_sellingPrice,menu_oldsellingPrice,menu_id))
    cnxn.commit()
    print('New price is:',get_menuprice(menu_id))

In [252]:
update_menuprice()

Menu ID 4number xxxx:0005
price: 65
Menu_SellingPrice int:70
price: 70
New price is: 70

In [253]:
get_menuprice('0005')

price: 70

70

Menu Name

In [122]:
def update_Menuname():
    menu_id=get_menu()
    menu_oldname=get_menuname(menu_id)
    menu_name=input('Menu_name:')
    
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET menu_name =? \
                WHERE menu_name =? \
                AND Menu_id =?;"\
             ,(menu_name,menu_oldname,menu_id))
    cnxn.commit()
    print('New menu name is:',get_menuname(menu_id))

In [123]:
update_Menuname()

Menu ID 4number xxxx:20304w
Menu ID not in list

KeyboardInterrupt: Interrupted by user

In [103]:
get_menuname('0003')

name: Espresso

'Espresso'

# Menu cost

In [128]:
def update_menucost():
    menu_id=get_menu()
    menu_oldcost = get_menuid()
    menu_cost=int(input('Menu_cost int:')) 
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET Menu_cost =? \
                WHERE Menu_cost =? \
                AND Menu_id =?;",(menu_cost,menu_oldcost,menu_id))
    cnxn.commit()
    print('New menu cost is:',get_cost(menu_id))

In [129]:
update_menucost()

Menu ID 4number xxxx:2233
Menu ID not in list
Plaese Enter Menu ID agian:201323]
Menu ID not in list
Plaese Enter Menu ID agian:32-0e2
Menu ID not in list

KeyboardInterrupt: Interrupted by user

In [130]:
get_cost('0002')

cost: 29

29

# Store

# Store name

In [110]:

def update_Storename():
    store_id=get_store()
    store_oldname=get_storename(store_id)
    store_name=input('Store_name:')
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Store \
                SET Store_name =? \
                WHERE Store_name =? \
                AND Store_id =?;"\
             ,(store_name,store_oldname,store_id))
    cnxn.commit()
    print('New store name is',get_storename(store_id))

In [113]:
update_Storename()

'Store_id 4 digit Cxxx:'C002
name: Coffee's เซ็นทรัลพระราม99
Store_name:Coffee's เซ็นทรัลพระราม9
name: Coffee's เซ็นทรัลพระราม9
New store name is Coffee's เซ็นทรัลพระราม9

In [112]:
get_storename('C002')

name: Coffee's เซ็นทรัลพระราม99

"Coffee's เซ็นทรัลพระราม99"

Store Province

In [11]:

def update_store_province():
    store_id=get_store()
    store_oldprovince=get_store_province(store_id)
    store_province=input('Store_province:')
    
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Store \
                SET Store_province =? \
                WHERE Store_province =? \
                AND Store_id =?;"
             ,(store_province,store_oldprovince,store_id))
    cnxn.commit()
    print('New store province is',get_store_province(store_id))

In [111]:
update_store_province()

'Store_id 4 digit Cxxx:'กรุงเทพมหานคร
store_ID not in list
Plaese Enter Store ID agian:C020
province: กทม.
Store_province:กรุงเทพมหานคร
province: กรุงเทพมหานคร
New store province is กรุงเทพมหานคร

# Update customer

# First name

In [135]:
def update_cusfirstname():
    customer_id=get_member()
    cus_oldfirstname=get_cusfirstname(customer_id)
    cus_firstname=input('Customer Firstname:')

    cursor = cnxn.cursor()
    cursor.execute("UPDATE customer \
                SET customer_firstname =? \
                WHERE customer_firstname =? \
                AND customer_id =?;"
             ,(cus_firstname,cus_oldfirstname,customer_id))
    cnxn.commit()
    print('New customer firstname  is',get_cusfirstname(customer_id))

In [136]:
update_cusfirstname()

customer_id 4number xxxx:4545656
customer id ID not in list
Plaese Enter customer_id agian:43546546
customer id ID not in list
Plaese Enter customer_id agian:4543
customer id ID not in list
Plaese Enter customer_id agian:0002
d
Customer Firstname:ศิรินทิพย์
ศิรินทิพย์
New customer firstname  is ศิรินทิพย์

In [138]:
get_cusfirstname('0002')

ศิรินทิพย์

'ศิรินทิพย์'

# Last name

In [139]:
def update_cuslastname():
    customer_id=get_member()
    cus_oldlastname=get_cuslastname(customer_id)
    cus_lastname=input('Customer Lastname:')

    cursor = cnxn.cursor()
    cursor.execute("UPDATE customer \
                SET customer_lastname =? \
                WHERE customer_lastname =? \
                AND customer_id =?;"
             ,(cus_lastname,cus_oldlastname,customer_id))
    cnxn.commit()
    print('New customer lastname  is',get_cuslastname(customer_id))

In [143]:
update_cuslastname()

customer_id 4number xxxx:0002
GGG
Customer Lastname:ชัยชนะ
ชัยชนะ
New customer lastname  is ชัยชนะ

In [144]:
get_cuslastname('0002')

ชัยชนะ

'ชัยชนะ'

Update age

 # Create Year of Birth column

In [254]:
cursor = cnxn.cursor()
cursor.execute("ALTER TABLE customer \
ADD COLUMN YearOfBirth int \
GENERATED ALWAYS AS (2022-Customer_age-1) STORED;")
cnxn.commit()
get_viewcustomer()

('0000', 'No member', 'No member', 0, 'no', 2021)
('0001', 'จารุวรรณ', 'เหลืองสีนวล', 21, 'หญิง', 2000)
('0002', 'ศิรินทิพย์', 'ชัยชนะ', 14, 'ชาย', 2007)
('0003', 'ณัฐมน', 'สุขเกษม', 37, 'หญิง', 1984)
('0004', 'เจษฎา', 'กอวังตะโก', 31, 'หญิง', 1990)
('0005', 'จุฑาทิพย์', 'ชาญศิริ', 34, 'หญิง', 1987)
('0006', 'สุพรรษา', 'ประเสริฐสม', 30, 'หญิง', 1991)
('0007', 'นูรีซัน', 'สุขสันต์', 29, 'หญิง', 1992)
('0008', 'วลัยลักษณ์', 'สัตถาผล', 28, 'หญิง', 1993)
('0009', 'เบญจมาภรณ์', 'หมูนสี', 27, 'หญิง', 1994)
('0010', 'ฉันชนก', 'เชิญขวัญ', 26, 'หญิง', 1995)
('0011', 'ธันยพร', 'หะพันธ์', 25, 'หญิง', 1996)
('0012', 'อารีรัตน์', 'ศิริพันธ์', 24, 'หญิง', 1997)
('0013', 'สุนิสา', 'ศุขห่วง', 23, 'หญิง', 1998)
('0014', 'เกวลิน', 'จูเปาะ', 22, 'หญิง', 1999)
('0015', 'กัญญารัตน์', 'ประสพสุข', 21, 'หญิง', 2000)
('0016', 'จิรัชญา', 'เสนานุช', 20, 'หญิง', 2001)
('0017', 'พรรธิดา', 'สืบจันทร์', 19, 'หญิง', 2002)
('0018', 'จุฑาทิพย์', 'วัณเพชร', 17, 'หญิง', 2004)
('0019', 'อุสรา', 'เจ็กแตงพะเนา', 37, 'หญิง', 1984)
('0020', 'กัลยา', 'พานทอง', 31, 'หญิง', 1990)
('0021', 'รจนา', 'ขวัญเมือง', 34, 'ชาย', 1987)
('0022', 'กัณฑิมา', 'รามมีชัย', 30, 'ชาย', 1991)
('0023', 'กาญจนา', 'นาสร้อย', 29, 'ชาย', 1992)
('0024', 'พอฤทัย', 'ลาภผล', 28, 'ชาย', 1993)
('0025', 'วราภรณ์', 'แซ่ลิ่ม', 27, 'ชาย', 1994)
('0026', 'ธิดารัตน์', 'วงศ์เสน', 26, 'หญิง', 1995)
('0027', 'กรรณิการ์', 'คงอาษา', 25, 'ชาย', 1996)
('0028', 'แอนนา', 'สมบูรณ์สิงห์', 24, 'ชาย', 1997)
('0029', 'วริศรา', 'วงเวียน', 23, 'ชาย', 1998)
('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย', 2004)
('0031', 'ปภัต', 'สำรวม', 40, 'ชาย', 1981)
('0032', 'พิม', 'แพรว', 12, 'หญิง', 2009)
('0033', 'มานี', 'มานา', 14, 'ชาย', 2007)

# Delete column Year of Birth

In [255]:
cursor = cnxn.cursor()
cursor.execute("ALTER TABLE customer \
 DROP column yearofbirth;")
cnxn.commit()
get_viewcustomer()

('0000', 'No member', 'No member', 0, 'no')
('0001', 'จารุวรรณ', 'เหลืองสีนวล', 21, 'หญิง')
('0002', 'ศิรินทิพย์', 'ชัยชนะ', 14, 'ชาย')
('0003', 'ณัฐมน', 'สุขเกษม', 37, 'หญิง')
('0004', 'เจษฎา', 'กอวังตะโก', 31, 'หญิง')
('0005', 'จุฑาทิพย์', 'ชาญศิริ', 34, 'หญิง')
('0006', 'สุพรรษา', 'ประเสริฐสม', 30, 'หญิง')
('0007', 'นูรีซัน', 'สุขสันต์', 29, 'หญิง')
('0008', 'วลัยลักษณ์', 'สัตถาผล', 28, 'หญิง')
('0009', 'เบญจมาภรณ์', 'หมูนสี', 27, 'หญิง')
('0010', 'ฉันชนก', 'เชิญขวัญ', 26, 'หญิง')
('0011', 'ธันยพร', 'หะพันธ์', 25, 'หญิง')
('0012', 'อารีรัตน์', 'ศิริพันธ์', 24, 'หญิง')
('0013', 'สุนิสา', 'ศุขห่วง', 23, 'หญิง')
('0014', 'เกวลิน', 'จูเปาะ', 22, 'หญิง')
('0015', 'กัญญารัตน์', 'ประสพสุข', 21, 'หญิง')
('0016', 'จิรัชญา', 'เสนานุช', 20, 'หญิง')
('0017', 'พรรธิดา', 'สืบจันทร์', 19, 'หญิง')
('0018', 'จุฑาทิพย์', 'วัณเพชร', 17, 'หญิง')
('0019', 'อุสรา', 'เจ็กแตงพะเนา', 37, 'หญิง')
('0020', 'กัลยา', 'พานทอง', 31, 'หญิง')
('0021', 'รจนา', 'ขวัญเมือง', 34, 'ชาย')
('0022', 'กัณฑิมา', 'รามมีชัย', 30, 'ชาย')
('0023', 'กาญจนา', 'นาสร้อย', 29, 'ชาย')
('0024', 'พอฤทัย', 'ลาภผล', 28, 'ชาย')
('0025', 'วราภรณ์', 'แซ่ลิ่ม', 27, 'ชาย')
('0026', 'ธิดารัตน์', 'วงศ์เสน', 26, 'หญิง')
('0027', 'กรรณิการ์', 'คงอาษา', 25, 'ชาย')
('0028', 'แอนนา', 'สมบูรณ์สิงห์', 24, 'ชาย')
('0029', 'วริศรา', 'วงเวียน', 23, 'ชาย')
('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย')
('0031', 'ปภัต', 'สำรวม', 40, 'ชาย')
('0032', 'พิม', 'แพรว', 12, 'หญิง')
('0033', 'มานี', 'มานา', 14, 'ชาย')

# Delete table row by id

In [256]:
def delete_Customer(customer_id):
    cursor = cnxn.cursor()
    cursor.execute("DELETE FROM Customer WHERE Customer_id = ?;",(customer_id))
    cnxn.commit()
    print('Customer id =',customer_id,'was deleted')
       
def delete_Store(store_id):
    cursor = cnxn.cursor()
    cursor.execute("DELETE FROM Store WHERE Store_id =?;",(store_id) )
    cnxn.commit() 
    print('Store id =',store_id,'was deleted')

def delete_Menuid(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("DELETE FROM Menu WHERE Menu_id =?;",(menu_id))
    cnxn.commit()
    print('Menu id =',menu_id,'was deleted')

In [260]:
get_viewcustomer()

('0000', 'No member', 'No member', 0, 'no')
('0001', 'จารุวรรณ', 'เหลืองสีนวล', 21, 'หญิง')
('0002', 'ศิรินทิพย์', 'ชัยชนะ', 14, 'ชาย')
('0003', 'ณัฐมน', 'สุขเกษม', 37, 'หญิง')
('0004', 'เจษฎา', 'กอวังตะโก', 31, 'หญิง')
('0005', 'จุฑาทิพย์', 'ชาญศิริ', 34, 'หญิง')
('0006', 'สุพรรษา', 'ประเสริฐสม', 30, 'หญิง')
('0007', 'นูรีซัน', 'สุขสันต์', 29, 'หญิง')
('0008', 'วลัยลักษณ์', 'สัตถาผล', 28, 'หญิง')
('0009', 'เบญจมาภรณ์', 'หมูนสี', 27, 'หญิง')
('0010', 'ฉันชนก', 'เชิญขวัญ', 26, 'หญิง')
('0011', 'ธันยพร', 'หะพันธ์', 25, 'หญิง')
('0012', 'อารีรัตน์', 'ศิริพันธ์', 24, 'หญิง')
('0013', 'สุนิสา', 'ศุขห่วง', 23, 'หญิง')
('0014', 'เกวลิน', 'จูเปาะ', 22, 'หญิง')
('0015', 'กัญญารัตน์', 'ประสพสุข', 21, 'หญิง')
('0016', 'จิรัชญา', 'เสนานุช', 20, 'หญิง')
('0017', 'พรรธิดา', 'สืบจันทร์', 19, 'หญิง')
('0018', 'จุฑาทิพย์', 'วัณเพชร', 17, 'หญิง')
('0019', 'อุสรา', 'เจ็กแตงพะเนา', 37, 'หญิง')
('0020', 'กัลยา', 'พานทอง', 31, 'หญิง')
('0021', 'รจนา', 'ขวัญเมือง', 34, 'ชาย')
('0022', 'กัณฑิมา', 'รามมีชัย', 30, 'ชาย')
('0023', 'กาญจนา', 'นาสร้อย', 29, 'ชาย')
('0024', 'พอฤทัย', 'ลาภผล', 28, 'ชาย')
('0025', 'วราภรณ์', 'แซ่ลิ่ม', 27, 'ชาย')
('0026', 'ธิดารัตน์', 'วงศ์เสน', 26, 'หญิง')
('0027', 'กรรณิการ์', 'คงอาษา', 25, 'ชาย')
('0028', 'แอนนา', 'สมบูรณ์สิงห์', 24, 'ชาย')
('0029', 'วริศรา', 'วงเวียน', 23, 'ชาย')
('0031', 'ปภัต', 'สำรวม', 40, 'ชาย')
('0032', 'พิม', 'แพรว', 12, 'หญิง')
('0033', 'มานี', 'มานา', 14, 'ชาย')

## Delete Customer

In [259]:
delete_Customer('0030') #('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย'  )

Customer id = 0030 was deleted

In [273]:
add_customer()

Last customer id: 0033
customer_id 4 digit:0030
Customer_firstname:ภัสสร
Customer_lastname:ศรีน้ำเงิน
Customer_age:17
Customer_gender:ชาย
Add new customer 0030 or ภัสสร is successful

## Delete Store

In [211]:
def delete_store(store_id):
    cursor = cnxn.cursor()
    cursor.execute("DELETE FROM Store WHERE store_id =?;",(store_id) )
    cnxn.commit() 
    print('Store id =',store_id,'was deleted')

In [216]:
get_viewstore()

('C001', "Coffee's เซ็นทรัลพระราม3", 'กรุงเทพมหานคร')
('C002', "Coffee's เซ็นทรัลพระราม9", 'กรุงเทพมหานคร')
('C003', "Coffee's Centralนครราชสีมา", 'นครราชสีมา')
('C004', "Coffee's เซ็นทรัลศรีราชา", 'ชลบุรี')
('C005', "Coffee's เซ็นทรัลอยุธยา", 'พระนครศรีอยุธยา')
('C006', "Coffee's Centralมหาชัย", 'สมุทรสาคร')
('C007', "Coffee's เซ็นทรัลเชียงใหม่", 'เชียงใหม่')
('C008', "Coffee's UnitedCenter(สีลม)", 'กรุงเทพมหานคร')
('C009', "Coffee's สยามเซ็นเตอร์", 'กรุงเทพมหานคร')
('C010', "Coffee's เซ็นจูรี่อนุสาวรีย์", 'กรุงเทพมหานคร')
('C011', "Coffee's CentralWestgateบางใหญ่", 'กรุงเทพมหานคร')
('C012', "Coffee's เซ็นทรัลเวิลด์", 'กรุงเทพมหานคร')
('C013', "Coffee's CenterOneอนุสาวรีย์ชัยสมรภูมิ", 'กรุงเทพมหานคร')
('C014', "Coffee's Centralสุราษฎร์ธานี", 'สุราษฎร์ธานี')
('C015', "Coffee's Centralนครศรีธรรมราช", 'นครศรีธรรมราช')
('C016', "Coffee's เซ็นทรัลลาดพร้าวชั้นG", 'กรุงเทพมหานคร')
('C017', "Coffee's บิ๊กซีศรีนครินทร์", 'สมุทรปราการ')
('C018', "Coffee's บิ๊กซีพัทยาใต้", 'ชลบุรี')
('C019', "Coffee's บิ๊กซีอยุธยา", 'พระนครศรีอยุธยา')
('C020', "Coffee's บิ๊กซีสุขาภิบาล3", 'กรุงเทพมหานคร')
('C021', "Coffee's บิ๊กซีพระราม4", 'กรุงเทพมหานคร')
('C022', "Coffee's บิ๊กซีราชดำริ", 'กรุงเทพมหานคร')
('C023', "Coffee's บิ๊กซีนครปฐม", 'นครปฐม')
('C024', "Coffe's บิ๊กซีมหาชัย", 'สมุทรสาคร')
('C025', "Coffee's บิ๊กซีสุขาภิบาล5", 'กรุงเทพมหานคร')
('C026', "Coffee's บิ๊กซีเชียงราย2", 'เชียงราย')
('C027', "Coffee's บิ๊กซีบางพลี", 'สมุทรปราการ')
('C028', "Coffee's บิ๊กซีเพชรเกษมextra", 'กรุงเทพมหานคร')
('C029', "Coffee's ทาวน์เซ็นเตอร์บิ๊กซีหัวหมาก", 'กรุงเทพมหานคร')
('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')
('C031', "Coffee's บิ๊กซีบางซื่อ", 'กรุงเทพมหานคร')

In [213]:
delete_store('C030') #('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')

Store id = C030 was deleted

In [272]:
add_store()

Last store id: C031

KeyboardInterrupt: Interrupted by user

## Delete Menu

In [235]:
get_viewmenu()

('0001', 'Espresso', 35, 20, 'Hot', 'Coffee')
('0002', 'Espresso', 55, 29, 'Cold', 'Coffee')
('0003', 'Espresso', 60, 30, 'Frappe', 'Coffee')
('0004', 'Espresso Con Panna', 45, 25, 'Hot', 'Coffee')
('0005', 'Espresso Con Panna', 65, 30, 'Cold', 'Coffee')
('0006', 'Espresso Con Panna', 70, 35, 'Frappe', 'Coffee')
('0007', 'Americano', 50, 30, 'Hot', 'Coffee')
('0008', 'Americano', 55, 35, 'Cold', 'Coffee')
('0009', 'Americano', 60, 40, 'Frappe', 'Coffee')
('0010', 'Long Black', 50, 30, 'Hot', 'Coffee')
('0011', 'Long Black', 55, 35, 'Cold', 'Coffee')
('0012', 'Long Black', 60, 40, 'Frappe', 'Coffee')
('0013', 'Latte', 50, 30, 'Hot', 'Coffee')
('0014', 'Latte', 65, 35, 'Cold', 'Coffee')
('0015', 'Latte', 70, 40, 'Frappe', 'Coffee')
('0016', 'Piccolo', 50, 20, 'Hot', 'Coffee')
('0017', 'Piccolo', 55, 25, 'Cold', 'Coffee')
('0018', 'Piccolo', 60, 30, 'Frappe', 'Coffee')
('0019', 'Cappuccino', 45, 25, 'Hot', 'Coffee')
('0020', 'Cappuccino', 60, 30, 'Cold', 'Coffee')
('0021', 'Cappuccino', 65, 35, 'Frappe', 'Coffee')
('0022', 'Mocha', 50, 25, 'Hot', 'Coffee')
('0023', 'Mocha', 60, 30, 'Cold', 'Coffee')
('0024', 'Mocha', 70, 35, 'Frappe', 'Coffee')
('0025', 'White Mocha', 55, 30, 'Hot', 'Coffee')
('0026', 'White Mocha', 65, 35, 'Cold', 'Coffee')
('0027', 'White Mocha', 75, 40, 'Frappe', 'Coffee')
('0028', 'Macchiato', 50, 25, 'Hot', 'Coffee')
('0029', 'Macchiato', 60, 30, 'Cold', 'Coffee')
('0030', 'Macchiato', 70, 35, 'Frappe', 'Coffee')
('0031', 'Caramel Macchiato', 55, 30, 'Hot', 'Coffee')
('0032', 'Caramel Macchiato', 65, 35, 'Cold', 'Coffee')
('0033', 'Caramel Macchiato', 75, 40, 'Frappe', 'Coffee')
('0034', 'Italian soda', 50, 20, 'Cold', 'Coffee')
('0035', 'Chocolate', 45, 25, 'Hot', 'Coffee')
('0036', 'Chocolate', 50, 30, 'Cold', 'Coffee')
('0037', 'Chocolate', 55, 35, 'Frappe', 'Coffee')
('0038', 'Dark Chocolate', 50, 30, 'Hot', 'Milk-Chocolate')
('0039', 'Dark Chocolate', 55, 35, 'Cold', 'Milk-Chocolate')
('0040', 'Dark Chocolate', 60, 40, 'Frappe', 'Milk-Chocolate')
('0042', 'Green Tea', 40, 15, 'Hot', 'Tea')
('0043', 'Green Tea', 45, 20, 'Cold', 'Tea')
('0044', 'Green Tea', 50, 25, 'Frappe', 'Tea')
('0045', 'Milk Tea', 45, 20, 'Hot', 'Tea')
('0046', 'Milk Tea', 50, 25, 'Cold', 'Tea')
('0047', 'Milk Tea', 55, 30, 'Frappe', 'Tea')
('0048', 'Thai Tea', 45, 20, 'Hot', 'Tea')
('0049', 'Thai Tea', 50, 25, 'Cold', 'Tea')
('0050', 'Thai Tea', 55, 30, 'Frappe', 'Tea')
('0051', 'Mango Sticky Rice', 100, 60, 'Dessert', 'Dessert')
('0052', 'Strawberry Pancake', 150, 90, 'Dessert', 'Dessert')
('0053', 'Choc Banana Pancake', 155, 80, 'Dessert', 'Dessert')
('0054', 'Macaron', 120, 80, 'Dessert', 'Dessert')
('0055', 'Pudding', 150, 100, 'Dessert', 'Dessert')
('0056', 'Butter Cake', 120, 100, 'Dessert', 'Dessert')
('0057', 'Whole Wheat Bread', 150, 120, 'Dessert', 'Dessert')
('0058', 'strawberry cheese pie', 120, 80, 'Dessert', 'Dessert')
('0059', 'Blueberry Cheese Pie', 150, 100, 'Dessert', 'Dessert')
('0060', 'Honey Toast', 150, 80, 'Dessert', 'Dessert')
('0061', 'Toast', 25, 20, 'Dessert', 'Dessert')
('0062', 'Waffle', 50, 30, 'Dessert', 'Dessert')
('0063', 'Cheese cake', 125, 80, 'Dessert', 'Dessert')
('0064', 'Custard Cake', 60, 40, 'Dessert', 'Dessert')
('0065', 'Cookie', 150, 90, 'Dessert', 'Dessert')
('0066', 'Brownie', 80, 50, 'Dessert', 'Dessert')
('0067', 'Pancake', 40, 20, 'Dessert', 'Dessert')
('0068', 'Banana Cake', 40, 20, 'Dessert', 'Dessert')
('0069', 'Muffin', 90, 30, 'Dessert', 'Dessert')
('0070', 'Roll Cake', 50, 30, 'Dessert', 'Dessert')
('0071', 'Basque Cheesecake', 250, 100, 'Dessert', 'Dessert')
('0074', 'Apple', 90, 30, 'cold', 'Tea')
('0075', 'Orange', 70, 30, 'Cold', 'Tea')
('0076', 'Peach', 50, 25, 'Hot', 'Tea')

In [239]:
delete_Menuid('0076') #('0073', 'Mango', 80, 60, 'Frappe', 'Smoothies')

Menu id = 0076 was deleted

In [240]:
add_menu()

Last id: 0072
Menu_id 4 digit:0073
Menu_name:Mango
Menu_SellingPrice int:80
Menu_cost int:60
Menu_Type Drink: Hot/Cold/Frappe or Dessert:Frappe
Coffee/Milk-Chocolate/Smoothies/Tea/DessertSmoothies
Add menu 0073 or Mango is successful

# Analytics

# View Royalty Customer

In [261]:
get_royalty()

('0001', Decimal('5'))
('0003', Decimal('3'))
('0004', Decimal('3'))
('0007', Decimal('3'))
('0020', Decimal('2'))
('0002', Decimal('2'))
('0005', Decimal('2'))
('0006', Decimal('2'))
('0008', Decimal('2'))
('0009', Decimal('2'))

# Promotion for Royalty Customer favorite Menu

In [262]:
fav_rayalty_menu()

customer menu
('0002', 'Espresso', 1)
('0001', 'Espresso', 1)
('0004', 'Espresso Con Panna', 1)
0003
 None
customer menu
('0004', 'Espresso Con Panna', 2)
('0003', 'Espresso', 1)
0004
 None
customer menu
('0008', 'Americano', 1)
('0007', 'Americano', 1)
('0002', 'Espresso', 1)
0007
 None
customer menu
('0055', 'Pudding', 1)
('0062', 'Waffle', 1)
0020
 None
customer menu
('0001', 'Espresso', 1)
('0003', 'Espresso', 1)
0002
 None
customer menu
('0003', 'Espresso', 1)
('0001', 'Espresso', 1)
0005
 None
customer menu
('0001', 'Espresso', 1)
('0010', 'Long Black', 1)
0006
 None
customer menu
('0036', 'Chocolate', 1)
('0044', 'Green Tea', 1)
0008
 None
customer menu
('0045', 'Milk Tea', 1)
('0049', 'Thai Tea', 1)
0009
 None
customer menu
('0061', 'Toast', 1)
0029
 None

# Top sale order by store

In [263]:
view_topsale_bystore()

Revenue by Store
('C004', "Coffee's เซ็นทรัลศรีราชา", 846.0)
('C002', "Coffee's เซ็นทรัลพระราม9", 477.0)
('C005', "Coffee's เซ็นทรัลอยุธยา", 396.0)
('C001', "Coffee's เซ็นทรัลพระราม3", 301.5)
('C006', "Coffee's Centralมหาชัย", 243.0)
('C003', "Coffee's Centralนครราชสีมา", 175.5)
('C023', "Coffee's บิ๊กซีนครปฐม", 135.0)
('C022', "Coffee's บิ๊กซีราชดำริ", 130.5)
('C020', "Coffee's บิ๊กซีสุขาภิบาล3", 54.0)

# Best Seller Menu

In [264]:
def view_topsale_bymenu():
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.menu_id,menu.menu_name,menu.menu_type,sum(quantity) as count FROM order_record  \
    INNER JOIN menu ON menu.menu_ID=order_record.menu_id \
    GROUP BY order_record.menu_id ORDER BY 4 DESC LIMIT 10")
    row = cursor.fetchone()
    print ("Best Seller Menu :")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [265]:
view_topsale_bymenu()

Best Seller Menu :
('0001', 'Espresso', 'Hot', Decimal('11'))
('0004', 'Espresso Con Panna', 'Hot', Decimal('10'))
('0003', 'Espresso', 'Frappe', Decimal('6'))
('0002', 'Espresso', 'Cold', Decimal('4'))
('0010', 'Long Black', 'Hot', Decimal('1'))
('0008', 'Americano', 'Cold', Decimal('1'))
('0007', 'Americano', 'Hot', Decimal('1'))
('0036', 'Chocolate', 'Cold', Decimal('1'))
('0044', 'Green Tea', 'Frappe', Decimal('1'))
('0045', 'Milk Tea', 'Hot', Decimal('1'))

# Top profit by Store

In [266]:
def view_topprofit_bystore():
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.Store_id,store.Store_name,sum(profit) as Rev FROM order_record  \
    INNER JOIN store ON store.Store_ID=order_record.Store_id \
    GROUP BY order_record.Store_id ORDER BY 3 DESC")
    row = cursor.fetchone()
    print ("Profit by Store")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [267]:
view_topprofit_bystore()

Profit by Store
('C004', "Coffee's เซ็นทรัลศรีราชา", 306.0)
('C002', "Coffee's เซ็นทรัลพระราม9", 187.0)
('C001', "Coffee's เซ็นทรัลพระราม3", 111.5)
('C005', "Coffee's เซ็นทรัลอยุธยา", 86.0)
('C003', "Coffee's Centralนครราชสีมา", 75.5)
('C022', "Coffee's บิ๊กซีราชดำริ", 60.5)
('C023', "Coffee's บิ๊กซีนครปฐม", 60.0)
('C006', "Coffee's Centralมหาชัย", 43.0)
('C020', "Coffee's บิ๊กซีสุขาภิบาล3", 24.0)

In [268]:
def view_menu_bystore():
    cursor = cnxn.cursor() 
    cursor.execute("SELECT o.Store_id, m.menu_name , m.menu_type  from order_record as o INNER JOIN menu as m \
                   on m.menu_id = o.menu_id order by store_id ")
    
    row = cursor.fetchone()
    print ("Menu by Store")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [269]:
view_menu_bystore()

Menu by Store
('C001', 'Espresso', 'Hot')
('C001', 'Espresso', 'Hot')
('C001', 'Espresso', 'Hot')
('C001', 'Espresso', 'Hot')
('C001', 'Espresso Con Panna', 'Hot')
('C002', 'Espresso Con Panna', 'Hot')
('C002', 'Espresso Con Panna', 'Hot')
('C002', 'Espresso', 'Hot')
('C002', 'Espresso', 'Hot')
('C002', 'Long Black', 'Hot')
('C002', 'Americano', 'Cold')
('C002', 'Americano', 'Hot')
('C002', 'Espresso', 'Cold')
('C002', 'Espresso', 'Frappe')
('C003', 'Chocolate', 'Cold')
('C003', 'Green Tea', 'Frappe')
('C003', 'Milk Tea', 'Hot')
('C003', 'Thai Tea', 'Cold')
('C004', 'Choc Banana Pancake', 'Dessert')
('C004', 'Pudding', 'Dessert')
('C004', 'Toast', 'Dessert')
('C004', 'Mango Sticky Rice', 'Dessert')
('C004', 'Espresso Con Panna', 'Hot')
('C004', 'Espresso', 'Frappe')
('C004', 'Strawberry Pancake', 'Dessert')
('C005', 'Waffle', 'Dessert')
('C005', 'Macaron', 'Dessert')
('C005', 'Whole Wheat Bread', 'Dessert')
('C005', 'strawberry cheese pie', 'Dessert')
('C006', 'Butter Cake', 'Dessert')
('C006', 'Blueberry Cheese Pie', 'Dessert')
('C020', 'Espresso', 'Frappe')
('C022', 'Espresso', 'Cold')
('C022', 'Espresso', 'Hot')
('C023', 'Espresso Con Panna', 'Hot')
('C023', 'Espresso Con Panna', 'Hot')
('C023', 'Espresso', 'Cold')

# ช่วงอายุของลูกค้า

In [270]:
def view_customer_agecount():
    cursor = cnxn.cursor()
    cursor.execute("SELECT customer_age , count(customer_age) as count \
                   from customer group by customer_age order by  count desc , customer_age ")
    row = cursor.fetchone()
    print ("ช่วงอายุของลูกค้า")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [271]:
view_customer_agecount()

ช่วงอายุของลูกค้า
(14, 2)
(21, 2)
(23, 2)
(24, 2)
(25, 2)
(26, 2)
(27, 2)
(28, 2)
(29, 2)
(30, 2)
(31, 2)
(34, 2)
(37, 2)
(0, 1)
(12, 1)
(17, 1)
(19, 1)
(20, 1)
(22, 1)
(40, 1)